---
import type { Social } from "../../env";

interface Props {
    name: string;
    role: string;
    img: string;
    socials: Social[];
    portrait: boolean;
}

const { name, role, socials, img, portrait } = Astro.props;
---

<div class="text-center text-gray-500 dark:text-gray-400">
    {
        portrait ? (
            <img
                class="mx-auto mb-4 w-32 h-36 rounded-full"
                src={img}
                alt={name + " - Avatar"}
            />
        ) : (
            <img
                class="mx-auto object-cover mb-4 w-36 h-36 rounded-full"
                src={img}
                width="500px"
                height="500px"
                loading="lazy"
                alt={name + " - Avatar"}
            />
        )
    }

    <h3
        class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
        {name}
    </h3>
    <p>{role}</p>
    <ul class="flex justify-center mt-4 space-x-4">
        {
            socials.map((social: Social) => (
                <li>
                    <a
                        href={social.url}
                        class="text-[#39569c] hover:text-gray-900 dark:hover:text-white"
                    >
                        {social.icon == "github" && (
                            <svg
                                class="w-6 h-6"
                                fill="rgb(85, 113, 40)"
                                viewBox="0 0 24 24"
                                aria-hidden="true"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                                    clip-rule="evenodd"
                                />
                            </svg>
                        )}
                        {social.icon == "linkedin" && (
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="w-6 h-6"
                                fill="rgb(85, 113, 40)"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93zM6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37z"
                                />
                            </svg>
                        )}
                        {social.icon == "uni" && (
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                version="1.1"
                                class="w-6 h-6"
                                viewBox="0 0 828 824"
                                preserveAspectRatio="none"
                                style="fill-rule: evenodd; clip-rule: evenodd"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                            >
                                <g>
                                    <path
                                        style="opacity: 0.995;"
                                        fill="#d50b2e"
                                        width="24"
                                        height="24"
                                        d="M 439.5,823.5 C 420.167,823.5 400.833,823.5 381.5,823.5C 247.77,811.248 142.936,750.248 67,640.5C 29.518,582.388 8.18464,518.721 3,449.5C 2.5,301.834 2.33333,154.167 2.5,6.5C 36.8333,6.5 71.1667,6.5 105.5,6.5C 105.333,152.5 105.5,298.5 106,444.5C 116.568,543.865 163.402,620.699 246.5,675C 323.118,720.66 404.785,732.66 491.5,711C 598.067,679.433 668.9,610.933 704,505.5C 711.247,480.684 715.247,455.351 716,429.5C 716.5,288.5 716.667,147.5 716.5,6.5C 750.833,6.5 785.167,6.5 819.5,6.5C 819.97,155.177 819.47,303.844 818,452.5C 808.17,559.658 763.67,649.158 684.5,721C 614.115,781.534 532.449,815.701 439.5,823.5 Z"
                                    />
                                </g>
                                <g>
                                    <path
                                        style="opacity: 0.992"
                                        fill="#d50a2e"
                                        width="24"
                                        height="24"
                                        d="M 206.5,6.5 C 240.833,6.5 275.167,6.5 309.5,6.5C 309.009,150.863 309.509,295.196 311,439.5C 323.303,483.8 352.136,509.967 397.5,518C 444.798,521.94 479.965,503.44 503,462.5C 508.354,450.75 511.354,438.417 512,425.5C 512.5,285.834 512.667,146.167 512.5,6.5C 546.833,6.5 581.167,6.5 615.5,6.5C 615.667,146.834 615.5,287.167 615,427.5C 611.437,493.81 582.937,546.31 529.5,585C 465.153,625.78 397.486,632.113 326.5,604C 257.337,571.545 217.503,517.378 207,441.5C 206.5,296.5 206.333,151.5 206.5,6.5 Z"
                                    />
                                </g>
                            </svg>
                        )}
                        {social.icon == "youtube" && (
                            <svg
                                class="w-6 h-6 text-gray-800 dark:text-white"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="rgb(85, 113, 40)"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M21.7 8.037a4.26 4.26 0 0 0-.789-1.964 2.84 2.84 0 0 0-1.984-.839c-2.767-.2-6.926-.2-6.926-.2s-4.157 0-6.928.2a2.836 2.836 0 0 0-1.983.839 4.225 4.225 0 0 0-.79 1.965 30.146 30.146 0 0 0-.2 3.206v1.5a30.12 30.12 0 0 0 .2 3.206c.094.712.364 1.39.784 1.972.604.536 1.38.837 2.187.848 1.583.151 6.731.2 6.731.2s4.161 0 6.928-.2a2.844 2.844 0 0 0 1.985-.84 4.27 4.27 0 0 0 .787-1.965 30.12 30.12 0 0 0 .2-3.206v-1.516a30.672 30.672 0 0 0-.202-3.206Zm-11.692 6.554v-5.62l5.4 2.819-5.4 2.801Z"
                                    clip-rule="evenodd"
                                />
                            </svg>
                        )}
                    </a>
                </li>
            ))
        }
    </ul>
</div>
